.dialog-wrapper {
  .MuiPaper-root {
    height: 75vh;
    width: 100%;
  }

  .MuiTypography-root {
    margin-top: 0;
  }
  
  #customized-dialog-title {
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    margin-bottom: 0;
  }

  .MuiFormControl-root {
    width: 100%;
  }

  .MuiDialogContent-root {
    padding-top: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 60px;
  }

  .MuiButton-root:first-of-type {
    background: #ffffff;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    border-radius: 4px;
    width: 146px;
    height: 40px;
    color: #000000;
  }

  //footer
  .MuiButton-root:nth-child(2n) {
    background: rgba(197, 233, 255, 0.72);
    border: 2px solid rgba(197, 233, 255, 0.72);
    box-sizing: border-box;
    border-radius: 4px;
    width: 146px;
    height: 40px;
    color: #000000;
  }

  .MuiDialogActions-root {
    padding: 20px;
  }

  .MuiDialogContent-root {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

@media screen and (max-width: 330px) {
  .dialog-wrapper {
    #customized-dialog-title {
      font-size: 20px;
      line-height: 20px;
      padding-left: 16px;
      padding-left: 20px;
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}
